#profile-img{
    max-width: 100%;
    height: auto;
}

.main-window{
    height: 100vh;
}


#StageOverlay{
    height: 90%;
    width: 90%;
    background-color: rgba(0, 0, 0, 0.7);
}

@media(max-width: 1279px) {
    #StageOverlay{
        width: 100%;
        height: 100%;
    }
}

@media(max-width: 600px) {
    .main-window{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        height: 100%;
    }
}