#profile-img{
    max-width: 100%;
    height: auto;
}
body{
    overflow: hidden;
}

.main-window{
    position: absolute;
    left: 240px;
    right: 0;
    height: 100vh;
    overflow: auto;
    background-color: #303030;
}

@media(max-width: 600px) {
    .main-window{
        position: absolute;
        /*top: 56px;*/
        left: 0;
        right: 0;
        height: 100%;
    }
}

.no-p{
    padding: 0 !important;
}
.no-m{
    margin: 0 !important;
}

#social-links{
    position: absolute;
    width: 100%;
    bottom: 20px;
}