#profile-img{
    max-width: 100%;
    height: auto;
}

.main-window{
    position: absolute;
    left: 240px;
    right: 0;
    /*height: 100vh;*/
}


#StageOverlay{
    margin-top: 5vh;
    margin-bottom: 5vh;
    height: 90vh;
    width: 90%;
    background-color: rgba(0, 0, 0, 0.7);
}

@media(max-width: 1279px) {
    #StageOverlay{
        width: 100%;
        height: 100vh;
        margin-top: inherit;
        margin-bottom: inherit;
    }
}

@media(max-width: 600px) {
    .main-window{
        top: 56px;
        left: 0;
        right: 0;
        bottom: 0;
    }
}

/* advanced - enter transition 800ms, exit 150ms */
.fade-appear,
.fade-enter {
    opacity: 0;
    z-index: 1;
}
.fade-appear-active,
.fade-enter.fade-enter-active {
    opacity: 1;
    transition: opacity 300ms linear 150ms;
}

.fade-exit {
    opacity: 1;
}

.fade-exit.fade-exit-active {
    opacity: 0;
    transition: opacity 150ms linear;
}

.no-p{
    padding: 0 !important;
}

#social-links{
    position: absolute;
    width: 100%;
    bottom: 20px;
}