.page-enter {
    position: absolute;
    top: 100vh;
    left: 0;
    right: 0;
    height: 100vh;
    z-index: 10;
}

.page-enter-active {
    top: 0;
    transition: top 500ms ease;
}

.page-exit {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100vh;
    z-index: -9999!important;
}

@media(max-width: 600px) {
    .page-enter-active {
        top: 56px;
    }
    .page-exit {
        top: 56px;
    }
}

.page-exit-active {
    top: -100%;
    transition: top 500ms ease;
}
