@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

p{
    text-align: justify;
}
*{
    font-family: 'Open Sans', sans-serif;
}
.cv-section{
    margin-top: -10px;
}

#cv-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: absolute;
    left: 0;
    right: 0;
    min-height: 100vh;
    color: black;
    background-color: #eeeeee;
    font-family: 'Open Sans', sans-serif;
}

#cv-page {
    margin-top: 20px;
    /*padding-top: 20px;*/
    margin-bottom: 20px;
    background-color: #ffffff;
    width: 935px;
    height: 1315px;
    filter: drop-shadow(-50px 50px 70px #222);
    z-index: 1;
}

#pencil {
    position: fixed;
    right: 4vw;
    top: 150px;
    height: 70vh;
    filter: drop-shadow(-10px 10px 10px #222);
    transition: all 500ms ease-out;
}

.section-head-title {
    vertical-align: middle;
    display: table-cell;
    text-transform: uppercase;
}

.section-head-icon {
    vertical-align: middle;
    display: table-cell;
    /* width: 35px;
    height: 35px; */
}

.section-head {
    display: table;
    margin-top: 20px;
    font-size: small;
}

.section-head-hr {
    margin: 2px 0 0 10px;
    /* margin-top: 5px; */
    /* margin-left: 10px; */
}

.timeline {
    margin: 10px auto !important;
}

.entry .body {
    margin: 0 !important;
}

.section-component-title {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

.section-component-subtitle {
    color: #51565d;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

.section-component-description{
    margin: 2px;
}

.cv-section-left {
    margin: 5px 0 5px 19px;
}

.cv-section-right {
    margin: 5px 10px 5px 19px;
}

.fa-ul {
    margin-top: 0.3em;
    margin-left: 1.5em;
}

#header-text {
    text-align: center;
}

#header-text h1 {
    font-size: 2em;
    margin: 15px 0 0 0;
}

#header-text h2 {
    margin: 0 0 5px 0;
    font-size: 1.2em;
}

#header-text h3 {
    margin: 0 0 5px 0;
    font-size: 1.1em;
}

.project-tag{
    display: inline-block;
    margin: 3px;
    padding: 3px;
    background-color: #ddeeff;
}

.projects{
    margin-top: 4px;
    margin-bottom: 4px;
}

#portfolio-note{
    color: #51565d;
    font-size: 0.9em;
    margin-left: 5px;
}

.skill-img{
    margin-right: 5px;
}

.skill-name{
    vertical-align: middle;
    display: table-cell;
}

.skill-heading{
    margin-top: 2px;
    margin-bottom: 2px;
}

.skill{
    display: table;
}

#contact-section{
    margin: 15px 0 15px 0;
}

#soft-skills{
    margin: 5px 10px 5px 10px;
}

@media(max-width: 1205px) {
    #cv-page{
        font-size: 0.87em;
        margin: 20px;
        height: auto;
    }
    #pencil{
        top: 130px;
        right: -24px;
    }
}
@media(max-width: 600px) {
    #cv-page{
        font-size: 0.7em;
        margin: auto auto 56px;
        height: auto;
    }
}
