#profile-img{
    max-width: 100%;
    height: auto;
}

.main-window{
    height: 100%;
    padding: 20px;
}

#slider{
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    z-index: -9999;
    overflow: hidden;
}

#slider img{
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

#slider img {
    position: absolute;
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
}

#slider .hide{
    opacity:0;
}